# Name: Suyash Choudhari
# Assignment no:- 02

In [4]:
#Addition

a=1
b=2
c=a+b
print("a =",a,"\nb =",b,"\nc =",c)

a = 1
b = 2
c = 3

In [5]:
a=1
type(a)

int

In [10]:
type(2.22)

float

In [11]:
type("suyash")

str

In [8]:
comp = 2+3j
type(comp)

complex

In [14]:
d=1,00,000   #comma's should not be used in large value
print(d)
type(d)

(1, 0, 0)

tuple

In [13]:
d=100000
print(d)

100000

In [16]:
1a = 2000       #variable name should not start with number so there is error.
print(1a)       #It should start with alphabet and can end with alphabet or Number

SyntaxError: invalid syntax (<ipython-input-16-93da6eee4b88>, line 1)

In [33]:
# String
str1 = "Hi welcome"
print(str1[:])
print(str1[0:])
print(str1[:11])
print(str1[3:11])
print(str1[-4:-1])
print(str1[-2:])
print(str1[6])

Hi welcome
Hi welcome
Hi welcome
welcome
com
me
c

In [41]:
# Order of Operation
# PEMDAS RULE

print(2+3-2*5)
print(2+(3-2)*5)
print(2**3*6-5)
(print(int((6/6*5-6/2))))

-5
7
43
2

In [44]:
#Typecasting

int('2020')

2020

In [45]:
int(2.369)

2

In [46]:
str([11,22,33,55])  #list converted to string

'[11, 22, 33, 55]'

In [47]:
list('Suyash')      #string converted to list

['S', 'u', 'y', 'a', 's', 'h']

In [48]:
list((11,22,33,44)) #tuple coverted to list

[11, 22, 33, 44]

In [49]:
tuple([55,66,55,44])

(55, 66, 55, 44)

In [50]:
l=[66,88,99,11]
print("initial list",l)
l[0]=55
print("modified list",l)

initial list [66, 88, 99, 11]
modified list [55, 88, 99, 11]

In [52]:
t=(66,88,99,11)
print("initial tuple",t)
t[0]=55
print("modified tuple",t)
type(t)
#Hence the value in tuple cannot be modified

initial tuple (66, 88, 99, 11)

TypeError: 'tuple' object does not support item assignment